# Email Services > seu serviço conectado (ex: Gmail)
VITE_EMAILJS_SERVICE_ID=formulario_site

# Email Templates > seu template de contato
VITE_EMAILJS_TEMPLATE_ID=contato_cytei

# Account > General > Public Key
VITE_EMAILJS_PUBLIC_KEY=xlYyD8nsGc7xozht9